<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WFR review</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <main>
      <h1>WFR Review</h1>
      <p>
        You have a <span id="age">age</span> year old <span id="sex">sex</span> patient named <span id="name">name</span>.  Their symptoms and vitals are below.  What condition do you think they have, and what is the treatment for it?
      </p>
      <p class="hidden_info">They have <strong>{{ patient.condition_name }}</strong>: {{ patient.condition_description }}</p>
      
      <div class="container">
        <div class="column left">
          <h2>Symptoms</h2>
          <ul>  
            {% for symptom in patient.condition_selected_symptoms %}
                <li>{{ symptom }}</li>
            {% endfor %}
            {% for symptom in patient.condition_hidden_symptoms %}
                <li class="hidden_info"><span class="special_text" title="This symptom was present but hidden because its effect was shown via a change in the patient's vital signs.">{{ symptom }}</span></li>
            {% endfor %}
            {% for symptom in patient.condition_unselected_symptoms %}
                <li class="hidden_info"><span class="special_text" title="This symptom was not present in this particular patient">{{ symptom }}</span></li>
            {% endfor %}
          </ul>
        </div>
        <div class="column right">
          <h2>Vitals</h2>
          <ul>
            <li>Time: 5 minutes ago</li>
            <li>LoR: <span id="level_of_responsiveness">level_of_responsiveness</span></li>
            <li>HR: <span id="heart_rate">heart_rate</span> / <span id="heart_strength">heart_strength</span> / <span id="heart_rhythm">heart_rhythm</span></li>
            <li>RR: <span id="respiratory_rate">respiratory_rate</span> / <span id="respiratory_rhythm">respiratory_rhythm</span> / <span id="respiratory_effort">respiratory_effort</span></li>
            <li>Skin: <span id="skin_color">skin_color</span>, <span id="skin_temperature">skin_temperature</span>, <span id="skin_moisture">skin_moisture</span></li>
            <li>Temp: <span id="body_temperature">body_temperature</span> &#176;F</li>
            <li>Pupils: <span id="pupils">pupils</span></li>
            <li>BP: <span id="blood_pressure">blood_pressure</span></li>
          </ul>
        </div>
      </div>
        
      <div class="hidden_info">
        <h2>Treatments</h2>
        <ul id="treatments">
        </ul>
        <h2>Evacuation guidelines</h2>
        <ul id="evacuation_guidelines">
        </ul>
      </div>
    </main>
    <script src="conditions.js"></script>
    <script src="index.js"></script>
  </body>
</html>
